form {
    background-color: white;
    width: 90%;
}
form .input1 {
    border: none;
    border-bottom: 2px solid #1890ff;
}
.images {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
}