body{
  background-color: #f1f5f78a !important;
  background-color:#F1F4F6 !important;
}
.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub {
  color: rgba(255, 255, 255, 0.65);
  background: white !important;
}
.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub {
  color: black;
  background: #001529;
}
.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub {
  color: black;
  background: #001529;
}
.ant-menu-dark .ant-menu-item:hover, .ant-menu-dark .ant-menu-item-active, .ant-menu-dark .ant-menu-submenu-active, .ant-menu-dark .ant-menu-submenu-open, .ant-menu-dark .ant-menu-submenu-selected, .ant-menu-dark .ant-menu-submenu-title:hover {
  color: #3F6AD8 !important;
  background-color: transparent;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color:#E0F3FF!important ;
  color:#3F6AD8 !important; 
}
.ant-menu-dark .ant-menu-item-selected {
  color:#3F6AD8 !important; 
  border-right: 0;
}
.ant-menu-dark .ant-menu-item:hover, .ant-menu-dark .ant-menu-item-active, .ant-menu-dark .ant-menu-submenu-active, .ant-menu-dark .ant-menu-submenu-open, .ant-menu-dark .ant-menu-submenu-selected, .ant-menu-dark .ant-menu-submenu-title:hover {
  color:#3F6AD8 !important; 
  background-color: transparent;
}
.ant-menu-dark .ant-menu-item-selected .ant-menu-item-icon + span, .ant-menu-dark .ant-menu-item-selected .anticon + span {
  color: #3F6AD8 !important;
  font-weight: 700;
}
element.style {
  padding-left: 10px !important;
}
.ant-menu-vertical .ant-menu-item, .ant-menu-vertical-left .ant-menu-item, .ant-menu-vertical-right .ant-menu-item, .ant-menu-inline .ant-menu-item, .ant-menu-vertical .ant-menu-submenu-title, .ant-menu-vertical-left .ant-menu-submenu-title, .ant-menu-vertical-right .ant-menu-submenu-title, .ant-menu-inline .ant-menu-submenu-title {
  height: 40px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 0 16px !important;
  overflow: hidden;
  line-height: 40px;
  text-overflow: ellipsis;
  width: 240px !important;
  border-radius: 5px !important;
}
.ant-menu.ant-menu-inline-collapsed > .ant-menu-item, .ant-menu.ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-item, .ant-menu.ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title {
  left: 0;
  padding: 0 30px !important;
  width: 80px !important;
  border-radius: 0% !important;
  text-overflow: clip;
}
.ant-menu-inline .ant-menu-selected::after, .ant-menu-inline .ant-menu-item-selected::after {
  transform: scaleY(1);
  opacity: 1;
  background-color:black !important;
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.ant-menu-submenu-expand-icon, .ant-menu-submenu-arrow {
  position: absolute;
  top: 50%;
  right: 16px;
  width: 10px;
  color: rgba(0, 0, 0, 0.3) !important;
  transform: translateY(-50%);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: 111111 !important;
}
.ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-right: none !important;
  transform: scaleY(0.0001);
  opacity: 0;
  transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  content: '';
}
.ant-menu-vertical > .ant-menu-item, .ant-menu-vertical-left > .ant-menu-item, .ant-menu-vertical-right > .ant-menu-item, .ant-menu-inline > .ant-menu-item, .ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-vertical-left > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-vertical-right > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
  height: 35px !important;
  line-height: 40px;
}
.ant-menu-item-selected, .ant-menu-item-active, .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-submenu-active, .ant-menu-submenu-title-selected {
  color: #3F6AD8 !important; 
  font-weight: 700;
}

.ant-menu-sub.ant-menu-inline {
  padding-left: 0px !important;
  background: #fff !important;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
  width: 180px !important;
  border-left: 3px solid #E0F3FF!important;
  margin-left: 24px;
  margin-right: 10px;
}
.ant-menu-item-selected {
  color: #3F6AD8 !important;
}
.ant-menu-vertical .ant-menu-item, .ant-menu-vertical-left .ant-menu-item, .ant-menu-vertical-right .ant-menu-item, .ant-menu-inline .ant-menu-item, .ant-menu-vertical .ant-menu-submenu-title,  .ant-menu-vertical-right  .ant-menu-inline {
  height: 40px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 0 16px;
  overflow: hidden;
  line-height: 40px;
  text-overflow: ellipsis;
  width:240px !important;
}
.ant-menu-sub.ant-menu-inline > .ant-menu-item, .ant-menu-sub.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
  height: 40px;
  line-height: 40px;
  list-style-position: inside;
  list-style-type: disc;
  width: 193px !important;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #e6f7ff;
  color:#3F6AD8 !important;
  font-weight: 700;
}
::-webkit-scrollbar-track
{

	background-color: #F5F5F5;
	border-radius: 10px;
}

::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.1)
}

.d-inline-flex{
  padding: 8px !important;
}
.nav-tabs, .nav-link{
 border: none !important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  background-color:#0D6EFD;
  /* border-bottom: 2px solid #fff !important; */
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}
.nav-link{
  font-size: 20px;
  font-weight: 400;
  padding: 5px 0px;
}
.MuiPaper-elevation1{
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px !important;
}
.custom-shape-divider-top-1627219937 {
  position: absolute;
  top:0%;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 111111 !important;
}

.custom-shape-divider-top-1627219937 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 167px;
}

.custom-shape-divider-top-1627219937 .shape-fill {
  fill: #FFFFFF;
}
.custom-shape-divider-bottom-1627221721 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: 1111 !important;
}

.custom-shape-divider-bottom-1627221721 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 167px;
}

.custom-shape-divider-bottom-1627221721 .shape-fill {
  fill: #FFFFFF;
}
