.head{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    width:80%; margin:auto; background-color: white; flex-wrap: wrap;  margin-top: 50px; min-height:250px; display: flex; align-items: center; justify-content: center;}
.cards{height:100%; display:flex; width:100%; justify-content:center;align-items:center}
.iconItem{

    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
     border-radius: 50%; background-color:rgb(92, 88, 88);display: flex; align-items: center; justify-content: center;width:50px; box-sizing:border-box; height:50px;}
.icon{ height:100%; width:100%; display: flex; align-items: center; justify-content:center}
.title{margin:5px}
.cards p{margin:0px; color:grey; font-size: 15px;}
.h{width:100%; text-align:center; flex:100%; font-size:28px; margin:0px; padding-bottom:20px; border-bottom: 1px solid grey;}
.graf{width:90%; margin:auto; background-color: white; padding:20px; margin-top:50px; margin-bottom: 100px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    overflow-x:auto;
}

@media (max-width:900px){
    .graf{width:100%}
}
.titleh{margin-left:30px; letter-spacing: 4px;}