.card1{
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-radius: 5px;
    width: 32% !important;
    margin-right: 10px;
    border-bottom: 2px solid #3F6AD8;

}
.card2{
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-radius: 5px;
    width: 32% !important;
    margin-right: 10px;
    border-bottom: 2px solid #F0B526;

}
.card3{
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-radius: 5px;
    width: 32% !important;
    margin-right: 10px;
    border-bottom: 2px solid #DD3D63;

}
.container{
    width: 100%!important;
}
.card1 h1{
    font-size: 20px;
    color:rgba(0, 0, 0, 0.7);
    font-weight: 400;
    padding:10px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    
}
.card2 h1{
    font-size: 20px;
    color:rgba(0, 0, 0, 0.7);
    font-weight: 400;
    padding:10px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    
}
.card3 h1{
    font-size: 20px;
    color:rgba(0, 0, 0, 0.7);
    font-weight: 400;
    padding:10px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    
}
.gr{
    background-color: #D0EEFF;
    width:47px !important;
    height: 50px;
    margin:1%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#3F6AD8 !important;
    font-size: 13px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}
.gr2{
    background-color: #FDF1D3;
    width:47px !important;
    height: 50px;
    margin:1%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#F0B526;
    font-size: 13px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}
.gr3{
    background-color: #F7D3DC;
    width:47px !important;
    height: 50px;
    margin:1%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#DD3D63;
    font-size: 13px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}
.backgroundTable{
    margin-top: 20px !important;
    background-color:white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-radius:5px
}
.backgroundTable h5{
    margin-top: 10px;
    position: relative;
    display: inline-block;
}
.backgroundTable h5::after{
    content: '';
    position: absolute;
    top: 160%;
    left: 0%;
    width: 50%;
    height: 1px;
    background-color:#3F6AD8
}
.date2{
    display: none !important;
}