.mat{
    width: 100%;
    height: max-content;

}
.adPanel{
    max-width: 1200px;
    height: 660px;
    background: linear-gradient(to right, #462c8e99, #462c8e99 41%, #f0f0f0 44%, #f0f0f0 50% );
    margin: 40px auto;
    border-radius: 23px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.rasm{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
}
.rasm img{
    margin: auto;
    box-shadow: 0px 0px 8px #462c8e88;
}
.forf{
    width: 55%;
    height: max-content;
    padding: 20px;
}
.forf h2{
    font-family:  Courier;
    border-bottom: 2px solid #462c8e;
    display: inline;
    padding: 8px 12px;
    font-weight: bold;
    letter-spacing: -2px;
}
.forf Input{
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    background-color: #f0f0f0;
    border-radius: 0px;
    box-shadow: none;
}
.forf Input:active{
    border: none;
    border-bottom: 1px solid #462c8e;
    box-shadow: none;
    outline: none;
}
.forf Input:focus{
    border: none;
    border-bottom: 2px solid #462c8e;
    box-shadow: none;
    outline: none;
}
.placeholder {
    color: #0f0f0f;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  
  .Input:focus ~ .placeholder,
  .Input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  